<script language="javascript">
    {% include "components/gallery-component.js" %}
</script>
<style>
horizontal-fill-gallery:not(:defined) {
  display: none;
}
horizontal-fill-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: var(--gallery-margin-top);
  margin-bottom: var(--gallery-margin-top);
  margin-left: var(--gallery-margin-left);
  margin-right: var(--gallery-margin-left);
}
horizontal-fill-gallery-item {
  display: block;
  padding: 0;
  position: relative;
}
horizontal-fill-gallery-item .media-wrapper, horizontal-fill-gallery-item .media-overlay, horizontal-fill-gallery [data-width][data-height] {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
horizontal-fill-gallery-item [data-width][data-height] {
  display: block;
  width: 100%;
  height: 100%;
}
</style>

<horizontal-fill-gallery {% if targetHeight %}target-height="{{ targetHeight }}"{% endif %}>
    {%- for dat in data -%}
    {% set tempSrc %}{{ src(dat) }}{% endset %}
    {% set tempAlt %}{{ alt(dat) }}{% endset %}
    {% set tempOverlay %}{{ overlay(dat) }}{% endset %}
    {% set tempFields %}{{ fields(dat) }}{% endset %}

    <horizontal-fill-gallery-item>
    {% media tempSrc, tempAlt, tempFields %}
        {{ tempOverlay | safe }}
    {% endmedia %}
    </horizontal-fill-gallery-item>

    {%- endfor -%}
</horizontal-fill-gallery>