<script language="javascript">
    {% include "components/collapsible-nav-component.js" %}
</script>
<style>
collapsible-nav:not(:defined) {
  display: none;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title>div {
    display: inline-flex;
    align-items: baseline;
    margin: 10px 0px;
}
.title>div:hover {
    color: var(--background-color-major);
    transition: color 0.25s linear;
}
.title .lower {
    font-size: var(--title-lower-font-size);
    font-weight: 600;
}
.title .cap {
    font-size: var(--title-upper-font-size);
    font-weight: 600;
}
collapsible-nav a {
    display: inline-block;
    margin: 4px 2px;
}
collapsible-nav .button {
    padding: 6px 18px;
}
@media only screen and (max-width: 768px) {
    .title>div {
        display: inline-flex;
        align-items: baseline;
        margin: 0px;
    }
    collapsible-nav .button {
        border-radius: 0px;
    }
    collapsible-nav .nav-li, collapsible-nav .title-wrapper {
        margin: 4px 0px;
    }
    collapsible-nav .nav-li {
        width: 100%;
    }
}
</style>
<collapsible-nav collapse-width="768">
  <a class="title-wrapper" href="{{ '/projects' | url }}" slot="title"><div class="title">
      <div>
          <span class="cap">T</span>
          <span class="lower">IFFANY</span>
          <span class="cap">&nbsp;L</span>
          <span class="lower">I</span>
      </div>
    </div></a>
  <a class="nav-li" href="{{ '/projects' | url }}"><div class="button {% if currentPage == "projects" %}active{% endif %}">Projects</div></a>
  <a class="nav-li" href="{{ '/illustrations' | url }}"><div class="button {% if currentPage == "illustrations" %}active{% endif %}">Illustrations</div></a>
  <a class="nav-li" href="{{ '/videos' | url }}"><div class="button {% if currentPage == "videos" %}active{% endif %}">Videos</div></a>
  <a class="nav-li" href="{{ '/about-me#about-me' | url }}"><div class="button {% if currentPage == "about-me" %}active{% endif %}">About Me</div></a>
</collapsible-nav>