<script async src="{{ "/static/components/collapsible-nav-component.js" | url }}"></script>
<style>
collapsible-nav:not(:defined) {
  display: none;
}
collapsible-nav a {
    display: inline-block;
    margin: 4px 2px;
}
collapsible-nav .button {
    padding: 6px 18px;
}
@media only screen and (max-width: 768px) {
    collapsible-nav .button {
        border-radius: 0px;
    }
    collapsible-nav a {
        margin: 4px 0px;
        width: 100%;
    }
}
</style>
<collapsible-nav collapse-width="768">
  <a href="{{ '/projects' | url }}"><div class="button {% if currentPage == "projects" %}active{% endif %}">Projects</div></a>
  <a href="{{ '/illustrations' | url }}"><div class="button {% if currentPage == "illustrations" %}active{% endif %}">Illustrations</div></a>
  <a href="{{ '/videos' | url }}"><div class="button {% if currentPage == "videos" %}active{% endif %}">Videos</div></a>
  <a href="{{ '/about-me#about-me' | url }}"><div class="button {% if currentPage == "about-me" %}active{% endif %}">About Me</div></a>
</collapsible-nav>

{# <script>
  var prevScrollPos = window.pageYOffset;
  window.onscroll = function() {
    let diff = window.pageYOffset - prevScrollPos;
    if (diff < -5 || window.pageYOffset < 44) {
      document.getElementById("navbar").style.top = "0px";
    } else if (diff > 0) {
      document.getElementById("navbar").style.top = "-44px";
      document.getElementById("id_nav-collapsible").checked = false;
    }
    prevScrollPos = window.pageYOffset;
  }
</script>
<div class="header" id="navbar">
    <nav class="center">
      <input id="id_nav-collapsible" class="mobile-expand" type="checkbox">
      <div class="banner">
        <a href="{{ '/projects' | url }}"><div class="title">
            <div>
                <span class="cap">T</span>
                <span class="lower">IFFANY</span>
                <span class="cap">&nbsp;L</span>
                <span class="lower">I</span>
            </div>
        </div></a>
        <div style="width: 100%;">
          <label for="id_nav-collapsible" class="mobile-expand-lbl social-icon" data-target="id_nav">{% include "svg/menu.svg" %}</label>
        </div>
      </div>
      <div id="mobile-expand-content">
        <ul class="nav" id="id_nav">
          <li><a href="{{ '/projects' | url }}"><div class="button {% if currentPage == "projects" %}active{% endif %}">Projects</div></a></li>
          <li><a href="{{ '/illustrations' | url }}"><div class="button {% if currentPage == "illustrations" %}active{% endif %}">Illustrations</div></a></li>
          <li><a href="{{ '/videos' | url }}"><div class="button {% if currentPage == "videos" %}active{% endif %}">Videos</div></a></li>
          <li><a href="{{ '/about-me#about-me' | url }}"><div class="button {% if currentPage == "about-me" %}active{% endif %}">About Me</div></a></li>
        </ul>
      </div>
    </nav>
</div> #}