---
layout: layouts/main.njk
title: Tiffany Li
thumbnail: "selfportrait.jpg"
thumbnailAlt: "A self portrait. <i>Ink.</i>"
currentPage: about-me
metaDescription: Tiffany Li is a Carnegie Mellon University alumna who specializes in game and game-adjacent software that incorporate a breadth of disciplines such as engineering, visual arts, and design.
---

<style>
{% include "css/about-me.css" %}
</style>
<div id="about-me-wrapper" class="page-card fill-children">
    <div>
    {% set textContent %}
        <div id="title-block">
            <h1>TIFFANY LI</h1>
            <p>I am an interdiscplinary software engineer who makes games and interactive experiences.</p>
        </div>
        <ul id="socials-nav" class="flex-nav responsive-flex">
            <li id="socials-nav-resume"><a href="#resume"><div class="button major small">Resume</div></a></li>
            <li id="socials-nav-contact-button"><a href="#footer-socials"><div class="button major small">Contact</div></a></li>
            <li id="socials-nav-contact"><ul class="flex-nav responsive-flex">{% include "socials.njk" %}</ul></li>
        </ul>
    {% endset %}

    {% include "horizontalCard.njk" %}
    </div>
    <div style="position: relative; display: block; z-index: -1;">
        <div id="about-me"></div>
    </div>
</div>

<div id="resume" class="blog-body">
    <div>
        <div style="display: flex; flex-direction: row-reverse;">
            <a href="{{ '/static/resume.pdf' | url }}" aria-label="Download resume"><div class="button square minor">{% include "svg/download.svg" %}</div></a>
        </div>
        {% scoped "resume-wrapper" %}
            {% include "resume.html" %}
        {% endscoped %}
    </div>
</div>

{% include "modal.njk" %}